@font-face {
  font-family: 'Libre Franklin', sans-serif;
  src:  url('../src/assets/fonts/LibreFranklin-Light.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Libre Franklin', sans-serif;
  src:  url('../src/assets/fonts/LibreFranklin-Bold.ttf') format('ttf');
  font-weight: bold;
  font-style: normal;
}


html{
  box-sizing: border-box;
  font-family: 'Libre Franklin';
}

body, html{
  padding: 0;
  margin: 0;
  height: 100%;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}
